:root {
  --primary-color: #e0ebed;
  --text-dark: #231e22;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}
.countainer {
  max-width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #2c2c2c;
}
/* -------------navbar ----------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 10000;
}
header.sticky {
  padding: 10px 100px;
  background: black;
}
header .logo {
  width: 90px;
  height: 90px;
  position: relative;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.menu-button-close {
  display: none;
  color: #fff;
}

.menu-button-open {
  display: none;
  padding-right: 30px;
  color: #fff;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./img/car1.png);
  background-size: cover;
}
.header.sticky .logo {
  color: #000;
}
.header.sticky ul li a {
  color: #000;
}
header li a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
a:hover {
  color: white;
}

header a:hover::after {
  width: 100%;
}
/* end */
.contactcall {
  height: 40px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
}
.contactcall a {
  color: white;
}
.contactcalll {
  height: 40px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  display: none;
}
.contactcalll a {
  color: white;
}
.one {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  font-size: 25px;
  gap: 20px 60px 20px 60px;
  letter-spacing: 1px;
  background-color: #000;
}

.one p {
  font-size: 20px;
  letter-spacing: 0.15px;
  padding-bottom: 10px;
}
.car {
  width: 100%;
}
.car h1 {
  margin-left: 140px;
  font-weight: 200;
  font-size: 2.5rem;
}
.car .contactcall {
  margin-left: 140px;
  margin-top: 20px;
}
.all-cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.cars {
  width: 400px;
  height: 500px;
  overflow: hidden;
  /* transition: all ease-in-out 0.6s; */
}
.cars img:hover {
  scale: 1.05;
  transition: 0.6s all ease-in-out;
}
.cars img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 40px 137px 10px 137px;
  background-color: black;
}

h1 {
  font-size: 28px;
  margin-bottom: 40px;
  color: white;
}

.option-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}

.option-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: white;
}
.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffb347;
}

.price span {
  font-weight: bold;
  font-size: 20px;
}

.desc {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.info {
  height: auto;
  width: 100%;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 20px 50px;
  gap: 20px;
}
.info-details {
  display: flex;
  height: 200px;
  width: 35%;
  background: black;
  color: white;
}

.info-details img {
  width: 200px;
}
.info-details-two {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

/* ----------------resize-------------- */
.slider-container {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-resize {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.slider-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: white;
  cursor: ew-resize;
  z-index: 10;
}
.sliderrr {
  width: 100%;
  overflow: hidden;
  top: 0;
}
.sliderrr h2 {
  margin-left: 120px;
  font-size: 40px;
  color: white;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.sliderr-container {
  margin-top: 2rem;
  width: max-content;
  display: flex;
  align-items: center;

  animation: scroll-left 45s linear infinite;
}

.card-view {
  padding-inline: 1rem;
  height: 400px;
  width: 400px;
  cursor: grab;
}

.card-view img {
  margin-bottom: 1rem;
  /* max-width: 225px; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-50%));
  }
}

.contact {
  position: relative;
  padding: 60px 20px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-20deg);
  transform-origin: top left;
  z-index: 1;
}

.form-box {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 40px;
  z-index: 2;
}

.form-box h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: white;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  color: #ccc;
  font-size: 14px;
}

.form-group input,
.form-group select {
  padding: 10px;
  background: #222;
  border: 1px solid #444;

  color: #fff;
}

.full {
  width: 100%;
  color: white;
}

.radio-group {
  display: flex;
  gap: 20px;
  padding-top: 5px;
  font-size: 14px;
  color: white;
}
.submit[type="submit"] {
  padding: 14px;
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
}

.submit[type="submit"]:hover {
  background: #333;
}

/* -------------footer ---------------------------*/
.footer {
  width: 100%;
  height: 20vh;
  background-color: #000;
}
.foot-one {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  padding: 10px 90px 10px 90px;
}
.social {
  display: flex;
  gap: 20px;
}
.foot-one img {
  height: 60px;
  width: 60px;
}
.foot-one a i {
  color: white;
  padding-top: 30%;
}

.foot-two {
  display: flex;
  gap: 50px;
  justify-content: center;
  font-size: 12px;
}
.foot-two a {
  color: gray;
}
.foot-two a:hover {
  color: white;
}
.foot-three {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foot-three a {
  color: gray;
}
/*--------------------------- Mobile styles (up to 768px)---------------------- */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    padding: 10px 20px;
  }

  header ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-button-open {
    display: block;
    color: white;
    font-size: 25px;
  }

  body.show-mobile-menu {
    overflow: hidden;
  }

  body.show-mobile-menu header::before {
    content: " ";
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-button-close {
    position: absolute;
    right: 30px;
    top: 30px;
    display: block;
    color: #fff;
  }
  .contactcall {
    display: none;
  }
  .contactcalll {
    display: block;
  }

  header ul {
    position: fixed;
    top: 0px;
    left: -300px;
    gap: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100vh;
    z-index: 100;
    background-color: black;

    transition: all ease 0.5s;
  }

  body.show-mobile-menu ul {
    left: 0;
  }

  .one {
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
  }

  .car h1,
  .car .contactcall {
    margin-left: 20px;
  }

  .cars {
    width: 100%;
    height: auto;
  }
  .info {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, calc(var(--max-width) / 2))
      minmax(0, 1fr);
    align-items: center;
  }
  .info-container {
    flex-direction: column;
    margin: 20px;
  }

  .info-details {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .info-details img {
    width: auto;
    height: 100%;
  }
  .card {
    flex-direction: column;
    gap: 10px;
  }

  .form-row {
    flex-direction: column;
  }

  .foot-one {
    flex-direction: column;
    align-items: center;
  }

  .foot-three {
    flex-direction: column;
  }
}
